
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">

        <a class="govuk-heading-m "href="SetupApproval">Setup Payment for Approval</a>

        <a class="govuk-heading-m "href="Report_DueWagePayments">Monthly Payment for Approval</a>

        <a class="govuk-heading-m "href="Report_AllSuppliers">List of Suppliers on Kickstart</a>

        <a class="govuk-heading-m "href="Report_SuppliersNoSOP">Employers that require updates</a>

        <a class="govuk-heading-m "href="Report_EmployeesOnHold">Employees on Hold </a>

        <a class="govuk-heading-m "href="Report_EmployeesOnECT">Employees under ECS checks</a>

        <a class="govuk-heading-m "href="Report_EmployeesNewStarts">New starts for Employees</a>

    </div>
  </div>

{% endblock %}
