
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-l">      Work Completion Report  </h1>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">
        Updating Suppliers
      </h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Agent</th>
      <th scope="col" class="govuk-table__header">Amount Previous Day</th>
      <th scope="col" class="govuk-table__header">Amount Previous Week</th>
      <th scope="col" class="govuk-table__header">Amount Previous Month</th>
      <th scope="col" class="govuk-table__header">All Time</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Allan.Saint-Maximin</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
      <td sclass="govuk-table__cell">Callum.Wilson</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Miguel.Almirón</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
      <td class="govuk-table__cell">0</td>
    </tr>
  </tbody>
</table>
<h1 class="govuk-heading-m">
        Set up Payments
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Agent</th>
            <th scope="col" class="govuk-table__header">Amount Previous Day</th>
            <th scope="col" class="govuk-table__header">Amount Previous Week</th>
            <th scope="col" class="govuk-table__header">Amount Previous Month</th>
            <th scope="col" class="govuk-table__header">All Time</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Allan.Saint-Maximin</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
          </tr>
          <tr class="govuk-table__row">
            <td sclass="govuk-table__cell">Callum.Wilson</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Miguel.Almirón</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
        </tbody>
      </table>
<h1 class="govuk-heading-m">
        Wage Payments
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Agent</th>
            <th scope="col" class="govuk-table__header">Amount Previous Day</th>
            <th scope="col" class="govuk-table__header">Amount Previous Week</th>
            <th scope="col" class="govuk-table__header">Amount Previous Month</th>
            <th scope="col" class="govuk-table__header">All Time</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Allan.Saint-Maximin</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
          </tr>
          <tr class="govuk-table__row">
            <td sclass="govuk-table__cell">Callum.Wilson</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Miguel.Almirón</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
        </tbody>
      </table>

<h1 class="govuk-heading-m">
        Status Changes
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Agent</th>
            <th scope="col" class="govuk-table__header">Amount Previous Day</th>
            <th scope="col" class="govuk-table__header">Amount Previous Week</th>
            <th scope="col" class="govuk-table__header">Amount Previous Month</th>
            <th scope="col" class="govuk-table__header">All Time</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Allan.Saint-Maximin</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">1</td>
          </tr>
          <tr class="govuk-table__row">
            <td sclass="govuk-table__cell">Callum.Wilson</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Miguel.Almirón</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">0</td>
          </tr>
        </tbody>
      </table>

{% endblock %}
