{% extends "layout.html" %}

{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-column-two=thirds"></div>
  </div>
  <div>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Add Employee
      </h1>
      </legend>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
        Introduction ID
      </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
          Claimant ID
        </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
            Employee Name
          </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
              Employee DOB
            </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                Employee NINO
              </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                  Application ID
                </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                    Anticipated Start Date
                  </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                      Confirmed Start Date
                    </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                        Gateway Y or N
                      </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                          Also the Employer Y or N
                        </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                          Gateway Org Name
                        </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                            Gateway Contact Name
                          </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                              Gateway Phone Number
                            </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                Gateway Email
                              </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                  Employer Org Name
                                </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                    Employer Contact Name
                                  </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                      Employer Phone Number
                                    </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                        Employer Email
                                      </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                          Vacancy Holder Name
                                        </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                            Vacancy Holder Phone Number
                                          </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-30">
                                              Vacancy Holder Email
                                            </label>
        <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"></div>
      <p></P>
      <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoViewCase()">
  Add Employee
</button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewCase()">
Cancel
</button>
      <script>
        function LinktoViewCase() {
          window.location.href = "ViewCase"
        }
      </script>
    </div>

  {% endblock %}