{% extends "layout.html" %}


{% block pageTitle %}
Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Edit Employee
    </label>
  </h1>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">

    </div>
  </div>
  <div>
    <fieldset class="govuk-fieldset">


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Introduction ID</b></td>
            <td class="govuk-table__cell">AAAA-AAAA</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Claimant ID</b></td>
            <td class="govuk-table__cell">77b312ad-99dd-4fe1-806a-fcd94f743544</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Name</b></td>
            <td class="govuk-table__cell">Analisa Alexandra</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Date of Birth</b></td>
            <td class="govuk-table__cell">08/11/8003</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>National Insurance Number</b></td>
            <td class="govuk-table__cell">AA809092A</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Application ID</b></td>
            <td class="govuk-table__cell">KS12345678</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Anticipated Start Date</b></td>
            <td class="govuk-table__cell">N/A</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Confirmed Start Date</b></td>
            <td class="govuk-table__cell">13/02/2021</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Gateway Yes or No</b></td>
            <td class="govuk-table__cell">N</td>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Also the Employer Y or N</b></td>
            <td class="govuk-table__cell">N/A</td>
        </tbody>
      </table>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Gateway Org Name
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" type="text" value="Amcor plc">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Gateway Contact Name
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="Ima Advisor" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Gateway Phone Number
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Gateway Email
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Employer Org Name
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Employer Contact Name
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Employer Phone Number
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Employer Email
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Vacancy Holder Name
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Vacancy Holder Phone Number
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-80">
          Vacancy Holder Email
        </label>
        <input class="govuk-input govuk-input--width-80" id="width-80" name="width-80" value="" type="text">
      </div>

      <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoViewSupplier()">
        Update
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewCase()">
        Cancel
      </button>
      <script>
        function LinktoViewSupplier() {
          window.location.href = "ViewCase"
        }
      </script>
  </div>

  {% endblock %}