
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
        Reassign Tasks
      </label>
    </h1>
{% endblock %}

{% block content %}
  <div class="govuk-form-group">
    <label class="govuk-heading-m" for="AgentName">
      Assign To
    </label>
    <input class="govuk-input govuk-input--width-10" id="AgentName" name="AgentList" list="AgentList" type="text">
    <datalist id="AgentList">
    	<option>All Agents</option>
    	<option>Damith Perera</option>
    	<option>Azam Mohammed</option>
    	<option>Jenny Suite</option>
    	<option>Kelvin Gutteridge</option>
    	<option>Scott Portnoff</option>
    </datalist>
</div>    
    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoAllAssignedTasksallocated()">
      Assign
    </button>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoAllAssignedTasks()">
      Unassign
    </button> 

  <script>
    function LinktoAllAssignedTasksallocated() {
      window.location.href="AllAssignedTasksallocated"
    }
  </script>       

  <script>
    function LinktoAllAssignedTasks() {
      window.location.href="AllAssignedTasks"
    }
  </script>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header ">Task</th>
    <th scope="col" class="govuk-table__header ">Application ID</th>
    <th scope="col" class="govuk-table__header ">Organisation Name</th>
    <th scope="col" class="govuk-table__header ">Introduction ID</th>
    <th scope="col" class="govuk-table__header ">Employee name</th>
    <th scope="col" class="govuk-table__header ">Task due date</th>
    <th scope="col" class="govuk-table__header ">Task assigned date</th>
    <th scope="col" class="govuk-table__header ">Assigned to</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell ">setup payment</td>
    <td class="govuk-table__cell ">KS12345678</td>
    <td class="govuk-table__cell ">Amcor plc</td>
    <td class="govuk-table__cell ">AAAA-AAAA</td>
    <td class="govuk-table__cell ">Analisa Alexandra</td>
    <td class="govuk-table__cell ">19/04/2021</td>
    <td class="govuk-table__cell ">19/04/2021</td>
    <td class="govuk-table__cell ">Azam Mohammed</td>
    </tr>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell ">setup payment</td>
    <td class="govuk-table__cell ">KS12345678</td>
    <td class="govuk-table__cell ">Tesco plc</td>
    <td class="govuk-table__cell ">A1B4-7YT3</td>
    <td class="govuk-table__cell ">Lilia Lambdin</td>
    <td class="govuk-table__cell ">19/04/2021</td>
    <td class="govuk-table__cell ">19/04/2021</td>
    <td class="govuk-table__cell ">Azam Mohammed</td>
    </tr>
</tbody>
</table>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>   

{% endblock %}
