
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Reports
      </label>
    </h1>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-list">
        <li>
        <a class="govuk-link "href="SetupApproval">Setup Payment for Approval</a>
        </li>
        <li class="govuk-!-margin-top-4">
        <a class="govuk-link "href="MonthlyApproval">Monthly Payment for Approval</a>
        </li>
        <li class="govuk-!-margin-top-4">
        <a class="govuk-link "href="Report_AllSuppliers">List of Employers on Kickstart</a>
        </li>
        <li class="govuk-!-margin-top-4">
        <a class="govuk-link "href="Report_SuppliersNoSOP">Employers that require updates</a>
        </li>
        <li class="govuk-!-margin-top-4">
        <a class="govuk-link "href="employees-under-ecs-checks">Employees under ECS checks</a>
        </li>
        <li class="govuk-!-margin-top-4">
        <a class="govuk-link "href="employees-on-hold">Employees on hold</a>
        </li>                
    </div>
  </div>

{% endblock %}
