
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">

        <div class="hmcts-timeline">
          <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h2 class="hmcts-timeline__title">
             Version 3 : Payment and Job Management
            </h2>
          </div>
          <p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 Jan 2077</time></p>
          <p class="hmcts-timeline__description">Added Functionality to: <br>
            Added ability to calcuate payments <br>
            Added ability to approve and send payments <br>
            Added ability to unapprove payments <br>
            Added ability to view payments <br>
            Added ability to change placement status <br>
            Added report to see all due setup payments <br>
            Added report to see all due wage payments

          </p>
          </div>
        <div class="hmcts-timeline__item">
        <div class="hmcts-timeline__header">
          <h2 class="hmcts-timeline__title">
           Version 2 : Employee Management
          </h2>
        </div>
        <p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 Jan 2077</time></p>
        <p class="hmcts-timeline__description">Added Functionality to: <br>
          Added ability to add, view, and edit employee records <br>
          Added report to see all due setup payments <br>
          Added report to see all due wage payments

        </p>
        </div>
        <div class="hmcts-timeline__item">
        <div class="hmcts-timeline__header">
          <h2 class="hmcts-timeline__title">
            Version 1 : Supplier Management
          </h2>
          <p>
          <h2 class="hmcts-timeline__title">

          </h2>
        </div>
        <p class="hmcts-timeline__date"><time datetime="2017-12-05T09:10">11 Dec 2020</time></p>
        <p class="hmcts-timeline__description">Added Functionality to:
        <br>View a report of all Suppliers on the system
        <br>View a report of all the Suppliers that require additional details
        <br>Update Suppliers with additional details
        <br>Search and View a Supplier record by their ApplicationID
        <br>View all Payments related to a Supplier Record
        <br>View the Service History of the Manage Kickstart Scheme Payments </p>
        </div>
    </div>
  </div>

{% endblock %}
