
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Setup Payment Approvals
      </label>
    </h1>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Introduction ID</th>
      <th scope="col" class="govuk-table__header ">Name</th>
      <th scope="col" class="govuk-table__header ">Payment Due Date</th>
      <th scope="col" class="govuk-table__header  ">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">AAAA-AAAA</td>
      <td class="govuk-table__cell ">Analisa Alexandra</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="ApprovePayment">
        Update
      </a></td>
    </tr>
  </tbody>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">A1B4-7YT3</td>
      <td class="govuk-table__cell ">Lilia Lambdin</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="ApprovePayment-error">
        Update
      </a></td>
    </tr>
  </tbody>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">D86T-8U91</td>
      <td class="govuk-table__cell ">Evalyn Elledge</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">KL34-3D5T</td>
      <td class="govuk-table__cell ">Billy Bunting</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">0PCF-23EF</td>
      <td class="govuk-table__cell ">Evelyn Waugh</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">6YH7-82FC</td>
      <td class="govuk-table__cell ">Dylan Thomas</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">3NH7-J5K4</td>
      <td class="govuk-table__cell ">Mark Twain</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">K2K3-K9K9</td>
      <td class="govuk-table__cell ">Samuel Clements</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">BJ5S-QX97</td>
      <td class="govuk-table__cell ">Taylor Coleridge</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">7GHP-VRAM</td>
      <td class="govuk-table__cell ">Stella Lennon</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">RKJZ-8HPK</td>
      <td class="govuk-table__cell ">Ricahrd Starkey</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">FL0M-C4K3</td>
      <td class="govuk-table__cell ">Reginald Dwight</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">N1C3-C4RS</td>
      <td class="govuk-table__cell ">Aaron Jerome</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">T35T-ICL3</td>
      <td class="govuk-table__cell ">Shannon Edge</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">B3NT-MUG5</td>
      <td class="govuk-table__cell ">Tommy Cannon</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">C4N1-5E3U</td>
      <td class="govuk-table__cell ">Edris Elbow</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">CR4P-BUN5</td>
      <td class="govuk-table__cell ">Marjorie Poops</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">N3XT-5T3P</td>
      <td class="govuk-table__cell ">Andy Fairweather</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">N0N3-H3R3</td>
      <td class="govuk-table__cell ">Jeff Pilot</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">G0N3-4W4Y</td>
      <td class="govuk-table__cell ">Blanket Jackson</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">0P4M-M0P5</td>
      <td class="govuk-table__cell ">Talvyn Sawhney</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">1G1U-0Y7T</td>
      <td class="govuk-table__cell ">Nitin Singh</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">4H5K-2H5L</td>
      <td class="govuk-table__cell ">Clint Booth</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">4Y8U-0P2K</td>
      <td class="govuk-table__cell ">Angela Tremble</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">H44T-H00R</td>
      <td class="govuk-table__cell ">George Dorsey</td>
      <td class="govuk-table__cell ">01/11/2020</td>
      <td class="govuk-table__cell "><a href="#">
        Update
      </a></td>
    </tr>
  </tbody>
</table>

<nav class="hmcts-pagination" id="pagination-label">

<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="hmcts-pagination__list">

<li class="hmcts-pagination__item  hmcts-pagination__item--prev">
  <a class="hmcts-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=1">1</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=5">5</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--active">6</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=7">7</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=10">10</a></li>

<li class="hmcts-pagination__item  hmcts-pagination__item--next">
  <a class="hmcts-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
</li>

</ul>

<p class="hmcts-pagination__results">Showing <b>10</b> to <b>20</b> of <b>256</b> results</p>

</nav>

    </div>
  </div>
  <button href="Index" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
  Back
</button>

{% endblock %}
