
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
        Update Employer
      </label>
    </h1>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">

        </div>
      </div>
      <div>
        <fieldset class="govuk-fieldset">


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Supplier Number</b></td>
          <td class="govuk-table__cell">12345678</td>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Site Name</b></td>
          <td class="govuk-table__cell">KICKSTART</td>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Payee Name</b></td>
          <td class="govuk-table__cell">Amcor#Ls101lgKICKSTART</td>
      </tbody>
    </table>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Enter an Application ID
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text" value="KS12345678"> </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Enter an Organisation name
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" value="Amcor UK plc" type="text"></div>

    <p></P>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoViewSupplier()">
  Update Employer
</button>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewCase()">
Cancel
</button>
<script>
  function LinktoViewSupplier() {
    window.location.href="ViewSupplier"
  }
</script>
  </div>

{% endblock %}
