
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}
{% block beforeContent %}

<label class="govuk-heading-m" for="width-20">
  First Last
</label>
    <strong class="govuk-tag govuk-tag--green" href="EditPaymentStatus">
In Payment
</strong>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column">
            <label class="govuk-heading-m" for="width-20">
              View Case
            </label>
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#Supplier-Details">
                    Employee Details
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#Payment-History">
                    Payments
                  </a>
                </li>
              </ul>
              <div class="govuk-tabs__panel" id="Supplier-Details">
                <h2 class="govuk-heading-l">Employee Details</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header"></th>
                      <th scope="col" class="govuk-table__header"></th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Introduction ID</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                    </tr>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Claimant ID</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">wesrxcuygi7fe12uaufu</td>
                      </tr>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Name</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cell">First Last</td>
                        </tr>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Date of Birth</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">01/10/1999</td>
                          </tr>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">NINO</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell">AA123456A</td>
                            </tr>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Application ID</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">KS12345678</td>
                              </tr>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Anticipated Start Date</td>
                                  <td class="govuk-table__cell"></td>
                                  <td class="govuk-table__cell">N/A</td>
                                </tr>
                                <tbody class="govuk-table__body">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Confirmed Start Date</td>
                                    <td class="govuk-table__cell"></td>
                                    <td class="govuk-table__cell">01/10/2020</td>
                                  </tr>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">Gateway</td>
                                      <td class="govuk-table__cell"></td>
                                      <td class="govuk-table__cell">N/A</td>
                                    </tr>
                                    <tbody class="govuk-table__body">
                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Gateway Org Name </td>
                                        <td class="govuk-table__cell"></td>
                                        <td class="govuk-table__cell">N/A</td>
                                      </tr>
                                      <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Gateway Contact Name </td>
                                          <td class="govuk-table__cell"></td>
                                          <td class="govuk-table__cell">N/A</td>
                                        </tr>
                                        <tbody class="govuk-table__body">
                                          <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Gateway Phone Number</td>
                                            <td class="govuk-table__cell"></td>
                                            <td class="govuk-table__cell">N/A</td>
                                          </tr>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Gateway Email </td>
                                              <td class="govuk-table__cell"></td>
                                              <td class="govuk-table__cell">N/A</td>
                                            </tr>
                                            <tbody class="govuk-table__body">
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">Employer Org Name </td>
                                                <td class="govuk-table__cell"></td>
                                                <td class="govuk-table__cell">Test Employer Name</td>
                                              </tr>
                                              <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                  <td class="govuk-table__cell">Employer Contact Name </td>
                                                  <td class="govuk-table__cell"></td>
                                                  <td class="govuk-table__cell">First Last</td>
                                                </tr>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Employer Phone Number</td>
                                                    <td class="govuk-table__cell"></td>
                                                    <td class="govuk-table__cell">07123456789</td>
                                                  </tr>
                                                  <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row">
                                                      <td class="govuk-table__cell">Employer Email </td>
                                                      <td class="govuk-table__cell"></td>
                                                      <td class="govuk-table__cell">First@testEmployer.Com</td>
                                                    </tr>
                                                    <tbody class="govuk-table__body">
                                                      <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell">Vacancy Holder Name </td>
                                                        <td class="govuk-table__cell"></td>
                                                        <td class="govuk-table__cell">Fiest Last</td>
                                                      </tr>
                                                      <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                          <td class="govuk-table__cell">Vacancy Holder Phone Number</td>
                                                          <td class="govuk-table__cell"></td>
                                                          <td class="govuk-table__cell">0712345672</td>
                                                        </tr>
                                                        <tbody class="govuk-table__body">
                                                          <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">Employer Email </td>
                                                            <td class="govuk-table__cell"></td>
                                                            <td class="govuk-table__cell">First@testEmployer.Com</td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Payment-History">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Introduction ID</th>
                      <th scope="col" class="govuk-table__header">Payment Number</th>
                      <th scope="col" class="govuk-table__header">Invoice Amount</th>
                      <th scope="col" class="govuk-table__header">Invoice Number</th>
                      <th scope="col" class="govuk-table__header">Due Date</th>
                      <th scope="col" class="govuk-table__header">Payment Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">0</td>
                      <td class="govuk-table__cell">1500.00</td>
                      <td class="govuk-table__cell">Kick5005177000001</td>
                      <td class="govuk-table__cell">1/10/2020</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">1</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">Kick5005177000002</td>
                      <td class="govuk-table__cell">15/11/2020</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">Kick5005177000003</td>
                      <td class="govuk-table__cell">15/12/2020</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">3</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell">15/01/2021</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">4</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell">15/02/2021</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">5</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell">15/03/2021</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">AAAA-AAAA</td>
                      <td class="govuk-table__cell">6</td>
                      <td class="govuk-table__cell">492.92</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell">15/04/2021</td>
                      <td class="govuk-table__cell">Payment Sent</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>



          </div>
          </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Notes</h2>
        <div class="hmcts-timeline">
          <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h2 class="hmcts-timeline__title">
             Manual Note
            </h2>
            <p class="hmcts-timeline__by">First Last</p>
            <p class="hmcts-timeline__description">Added payee details from bank form submitted on 25 November</p>
          </div>
          <p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 November 2020 at 14:04pm</time></p>
          <p class="hmcts-timeline__description"></p>
          </div>
        <div class="hmcts-timeline__item">
        <div class="hmcts-timeline__header">
          <h2 class="hmcts-timeline__title">
           Payee details sent to SOP
          </h2>
          <p class="hmcts-timeline__by">First Last</p>
        </div>
        <p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 November 2020 at 14:04pm</time></p>
        <p class="hmcts-timeline__description"></p>
        </div>
        <div class="hmcts-timeline__item">
        <div class="hmcts-timeline__header">
          <h2 class="hmcts-timeline__title">
            Case Created
          </h2>
          <p class="hmcts-timeline__by">by System</p>
          <p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 November 2020 at 14:04pm</time></p>

        </div>
      </div>
    </div>

  </main>
</div>


{% endblock %}
