
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}
{% block beforeContent %}

<h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
    AAAA-AAAA
  </label>
<label class="govuk-label govuk-label--m" for="more-detail">
        Analisa Alexandra
  </label>
  </h1>
  <strong class="govuk-tag govuk-tag--green">
In Payment
</strong>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#Supplier-Details">
              Employee Details
            </a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#Payment-History">
              Payments
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#Case">
              Job Management
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#Notes">
              Notes
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="Supplier-Details">
          <h2 class="govuk-heading-l">Employee Details</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Introduction ID</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">AAAA-AAAA</td>
              </tr>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Claimant ID</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">wesrxcuygi7fe12uaufu</td>
                </tr>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Name</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">Analisa Alexandra</td>
                  </tr>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Date of Birth</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">08/11/2003</td>
                    </tr>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">NINO</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">AA209092A</td>
                      </tr>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Application ID</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cell">KS12345678</td>
                        </tr>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Anticipated Start Date</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">N/A</td>
                          </tr>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Confirmed Start Date</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell">02/11/2020</td>
                            </tr>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Gateway</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">Y</td>
                              </tr>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Gateway Org Name </td>
                                  <td class="govuk-table__cell"></td>
                                  <td class="govuk-table__cell">N/A</td>
                                </tr>
                                <tbody class="govuk-table__body">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Gateway Contact Name </td>
                                    <td class="govuk-table__cell"></td>
                                    <td class="govuk-table__cell">N/A</td>
                                  </tr>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">Gateway Phone Number</td>
                                      <td class="govuk-table__cell"></td>
                                      <td class="govuk-table__cell">N/A</td>
                                    </tr>
                                    <tbody class="govuk-table__body">
                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Gateway Email </td>
                                        <td class="govuk-table__cell"></td>
                                        <td class="govuk-table__cell">N/A</td>
                                      </tr>
                                      <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Employer Org Name </td>
                                          <td class="govuk-table__cell"></td>
                                          <td class="govuk-table__cell">Amcor Pls</td>
                                        </tr>
                                        <tbody class="govuk-table__body">
                                          <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Employer Contact Name </td>
                                            <td class="govuk-table__cell"></td>
                                            <td class="govuk-table__cell">Zoraida</td>
                                          </tr>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Employer Phone Number</td>
                                              <td class="govuk-table__cell"></td>
                                              <td class="govuk-table__cell">07123456789</td>
                                            </tr>
                                            <tbody class="govuk-table__body">
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">Employer Email </td>
                                                <td class="govuk-table__cell"></td>
                                                <td class="govuk-table__cell">Zoraida@Employer.co.uk</td>
                                              </tr>
                                              <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                  <td class="govuk-table__cell">Vacancy Holder Name </td>
                                                  <td class="govuk-table__cell"></td>
                                                  <td class="govuk-table__cell">Zoraida</td>
                                                </tr>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Vacancy Holder Phone Number</td>
                                                    <td class="govuk-table__cell"></td>
                                                    <td class="govuk-table__cell">07123456789</td>
                                                  </tr>
                                                  <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row">
                                                      <td class="govuk-table__cell">Employer Email </td>
                                                      <td class="govuk-table__cell"></td>
                                                      <td class="govuk-table__cell">Zoraida@Employer.co.uk</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Payment-History">
          <h2 class="govuk-heading-l">Payment</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Introduction ID</th>
                <th scope="col" class="govuk-table__header">Payment Number</th>
                <th scope="col" class="govuk-table__header">Invoice Amount</th>
                <th scope="col" class="govuk-table__header">Invoice Number</th>
                <th scope="col" class="govuk-table__header">Due Date</th>
                <th scope="col" class="govuk-table__header">Payment Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">1500.00</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">1/10/2020</td>
                <td class="govuk-table__cell "><a href="PendingPayment">
                  Payment Pending
                </a></td>              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/11/2020</td>
                <td class="govuk-table__cell "><a href="ApprovePayment">
                  Awaiting Approval
                </a></td>              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/12/2020</td>
                <td class="govuk-table__cell">Payment Not Due</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/01/2021</td>
                <td class="govuk-table__cell">Payment Not Due</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/02/2021</td>
                <td class="govuk-table__cell">Payment Not Due</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/03/2021</td>
                <td class="govuk-table__cell">Payment Not Due</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">AAAA-AAAA</td>
                <td class="govuk-table__cell">6</td>
                <td class="govuk-table__cell">492.92</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">15/04/2021</td>
                <td class="govuk-table__cell">Payment Not Due</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Case">
          <h2 class="govuk-heading-l">Job Management</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Job Status</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
            In Payment
            </strong></td>
                <td class="govuk-table__cell "><a href="EditPaymentStatus">
                  Edit Job Status
                </a></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Notes">
          <h2 class="govuk-heading-l">Notes</h2>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewSupplier()">
            Add Note
          </button>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Note</th>
                <th scope="col" class="govuk-table__header">User</th>
                <th scope="col" class="govuk-table__header">Date</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">This is some note text and I have updated a case with some details</td>
                <td class="govuk-table__cell">Robbie.Kelsey</td>
                <td class="govuk-table__cell ">13.00 13/1/2021</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Case Created</td>
                <td class="govuk-table__cell">System</td>
                <td class="govuk-table__cell ">08.00 13/1/2021</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
    </div>
  </div>

{% endblock %}
