
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Correct Wage Payment Exception
      </label>
    </h1>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="Application ID">
            Application ID
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          Must be 10 characters long
        </div>
        <input class="govuk-input govuk-input--width-10" id="Application ID" name="Application ID" type="text" value="KS12345678" >
      </div>

      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Introduction ID
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    Must be 9 characters long
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" value="AAAA-AAAA">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Supplier Number
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    Must be be 7 characters long
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" value="1234567">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Sitecode
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" value="KICKSTART">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Invoice Amount
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    Must be be less than 1800.00 and have two decimal places
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" value="1500.00">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Payment Number
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    Must be a number between 0 and 6
  </div>
  <input class="govuk-input govuk-input--width-5" id="account-number" name="account-number" type="text" value="0">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Employer Payroll ID
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" >
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      RTI Check
    </label>
  </h1>
  <div id="account-number-hint" class="govuk-hint">
    Must be either Y or N
  </div>
  <input class="govuk-input govuk-input--width-5" id="account-number" name="account-number" type="text" value="Y">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Gateway
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-5" id="account-number" name="account-number" type="text" value="N" >
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Confirmed Start Date of Placement
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" value="01/11/2020">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
      Confirmed End Date of Placement
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text">
</div>

    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

  <button class="govuk-button govuk-button--warning" data-module="govuk-button">
  Delete payment
</button>

{% endblock %}
