
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">

        </div>
      </div>
      <div>
        <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Update Employer
      </h1>
    </legend>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Payee Name</td>
          <td class="govuk-table__cell">Test#wertyu#KICKSTART</td>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Supplier Numbers</td>
          <td class="govuk-table__cell">12345678</td>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Site Name</td>
          <td class="govuk-table__cell">KICKSTART</td>
      </tbody>
    </table>
/Users/robbie.kelsey/Desktop/Kickstart/Kickstart Prototype/app/views/tasktest/AddSupplier.html
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Application ID
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text" value=""> </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Organisation Name
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" value="" type="text"></div>

    <p></P>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoHome1()">
  Update Supplier
</button>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewCase()">
Cancel
</button>
<script>
  function LinktoHome1() {
    window.location.href="Home1"
  }
</script>
  </div>

{% endblock %}
