
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">

        </div>
      </div>
      <div>
        <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Add employee
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Introduction ID
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Claimant ID
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Employee Name
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Employee DOB
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Employee NINO
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                  Application ID
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Anticipated Start Date
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Confirmed Start Date
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="width-20">
                        Gateway Y or N
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Also the Employer Y or N
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Gateway Org Name
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="width-20">
                            Gateway Contact Name
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                          <div class="govuk-form-group">
                            <label class="govuk-label" for="width-20">
                              Gateway Phone Number
                            </label>
                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                            <div class="govuk-form-group">
                              <label class="govuk-label" for="width-20">
                                Gateway Email
                              </label>
                              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                              <div class="govuk-form-group">
                                <label class="govuk-label" for="width-20">
                                  Employer Org Name
                                </label>
                                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                                <div class="govuk-form-group">
                                  <label class="govuk-label" for="width-20">
                                    Employer Contact Name
                                  </label>
                                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="width-20">
                                      Employer Phone Number
                                    </label>
                                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>
                                    <div class="govuk-form-group">
                                      <label class="govuk-label" for="width-20">
                                        Employer Email
                                      </label>
                                      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>
                                      <div class="govuk-form-group">
                                        <label class="govuk-label" for="width-20">
                                          Vacancy Holder Name
                                        </label>
                                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="width-20">
                                            Vacancy Holder Phone Number
                                          </label>
                                          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>
                                          <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                              Vacancy Holder Email
                                            </label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>
    <p></P>
    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoViewCase()">
  Add Employee
</button>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewCase()">
Cancel
</button>
<script>
  function LinktoViewCase() {
    window.location.href="ViewCase"
  }
</script>
  </div>

{% endblock %}
