
{% extends "layout.html" %}


{% block pageTitle %}
  Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block content %}

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
          Add Note
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Do not include personal or financial information, like National Insurance numbers or credit card details.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>



    <button class="govuk-button govuk-button--primary" data-module="govuk-button" onclick="LinktoViewSupplier()">
  Add Note
</button>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="LinktoViewSupplier()">
Cancel
</button>
<script>
  function LinktoViewSupplier() {
    window.location.href="ViewSupplier"
  }
</script>
  </div>

{% endblock %}
