
{% extends "layout.html" %}


{% block pageTitle %}
Manage Kickstart Scheme Payments (Prototype)
{% endblock %}

{% block beforeContent %}
<h1 class="govuk-heading-xl">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Approve Setup Payment
      </label>
    </h1>
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
        AAAA-AAAA
      </label>
    <label class="govuk-label govuk-label--m" for="more-detail">
            Analisa Alexandra
      </label>
      </h1>
      <a>Case Status:</a>
      <strong class="govuk-tag govuk-tag--green">
      In Payment
      </strong>
<p></p>

      <a>Payment Status:</a>
    <strong class="govuk-tag govuk-tag--yellow">
Awaiting Approval
</strong>
{% endblock %}

{% block content %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Title</th>
      <th scope="col" class="govuk-table__header ">Detail</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Application ID</td>
      <td class="govuk-table__cell ">KS12345678</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Introduction ID</td>
      <td class="govuk-table__cell ">AAAA-AAAA</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Employer Name</td>
      <td class="govuk-table__cell ">Tecso PLC</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Supplier Number</td>
      <td class="govuk-table__cell ">75836298</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Site Name</td>
      <td class="govuk-table__cell ">KICKSTART</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">NINO</td>
      <td class="govuk-table__cell ">AA123456A</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Invoice Amount</td>
      <td class="govuk-table__cell ">£1500.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Payment Number</td>
      <td class="govuk-table__cell ">0</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Employer Payroll ID</td>
      <td class="govuk-table__cell "></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Date of Birth</td>
      <td class="govuk-table__cell ">08/11/2003</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Gateway</td>
      <td class="govuk-table__cell ">N</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ">Confirmed Start Date of Placement</td>
      <td class="govuk-table__cell ">02/11/2020</td>
    </tr>
  </tbody>
</table>


  <button class="govuk-button" data-module="govuk-button" href="Save and Continue" onclick="LinktoSetupApprovalSent()">
    Approve Payment
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="Save and Continue" onclick="LinktoSetupApproval()">
    Cancel
  </button>
  <script>
    function LinktoSetupApprovalSent() {
      window.location.href="SetupApprovalSent"
    }
  </script>
  <script>
    function LinktoSetupApproval() {
      window.location.href="SetupApproval"
    }
  </script>

{% endblock %}
