{% extends "layout-for-index.html" %}

{% block pageTitle %}
  Apply for a Kickstart Grant for Employers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart scheme payments prototype</h1>

      <!-- THIS IS ALL BASED ON THE ORIGINAL WORK BY ROBBIE KELSEY – THE JOB WAS TO REFLECT THE LIVE VERSION FOR TRAINING PURPOSES -->

      <span class="govuk-tag">As live version</span>
      <h2 class="govuk-heading-l">Training screens</h2>

      <p class="govuk-body">
        This is based on the live version and is for training purposes only</p>

      <p>Modified by Neil Holroyd (IxD) based on original work undertaken by Robbie Kelsey</p>

      <p>
        <a href="version-2/Home">Agent landing page</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the agent facing version</li>
      </ul>

      <p>
        <a href="version-2/home-manage">Manage landing page</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the manage facing version</li>
      </ul>

      <p>
        <a href="version-2/home-data">Data landing page</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the data facing version</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <!-- LINKS TO ORIGINAL WORK BY ROBBIE KELSEY – BA KICKSTART -->

      <h2 class="govuk-heading-l">Original prototype</h2>

      <p>
        <a href="home">Kickstart payments prototype version 1.0</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the original work undertaken by Robbie Kelsey</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>
        <a href="taskservice/Home">Kickstart payments prototype version 1.1</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the second iteration of work undertaken by Robbie Kelsey</li>
      </ul>

    </div>
  </div>

{% endblock %}