{% extends "layout-for-index.html" %}

{% block pageTitle %}
  Apply for a Kickstart Grant for Employers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart scheme payments prototype</h1>

      <!-- THIS IS ALL BASED ON THE ORIGINAL WORK BY ROBBIE KELSEY – THE JOB WAS TO REFLECT THE LIVE VERSION FOR TRAINING PURPOSES – I AM NOT RESPONSIBLE FOR THE UX WHATSOEVER, NEIL HOLROYD -->

      <span class="govuk-tag">As live version</span>
      <h2 class="govuk-heading-l">Training screens</h2>

      <p class="govuk-body">
        This is based on the live version and is for training purposes only. There is no logic in this version.</p>

      <p>Modified by IxD to mimic the live version based on the original work undertaken by Robbie Kelsey (BA).</p>

      <p class="govuk-body govuk-!-margin-bottom-8"> Last updated 21/04/2021</p>   

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="version-2/Home">Agent home page</a></li>
      </ul>      

      <p>This links to the agent facing version</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="version-2/home-manage">Manage home page</a></li>
      </ul>      

      <p>This links to the manage facing version</p>


      <ul class="govuk-list govuk-list--bullet">
        <li><a href="version-2/home-data">Data home page</a></li>
      </ul>

      <p>This links to the data facing version</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <!-- LINKS TO ORIGINAL WORK BY ROBBIE KELSEY – BA KICKSTART -->

      <h2 class="govuk-heading-l">Original prototype</h2>

      <p>
        <a href="home">Kickstart payments prototype version 1.0</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the original work undertaken by Robbie Kelsey</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>
        <a href="taskservice/Home">Kickstart payments prototype version 1.1</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This links to the second iteration of work undertaken by Robbie Kelsey</li>
      </ul>

    </div>
  </div>

{% endblock %}